@font-face {
    font-family: Segoe-print; /* Имя шрифта */
    src: url(../fonts/Segoe-print.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: segoesc; /* Имя шрифта */
    src: url(../fonts/segoesc.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Strong-Regular; /* Имя шрифта */
    src: url(../fonts/Strong-Regular.ttf); /* Путь к файлу со шрифтом */
   }